.login-signup-swiper {
  height: 100%;
}

.login-signup-swiper .swiper-slide {
  display: flex;
  align-items: stretch;
}

.login-signup-swiper app-login-signup-template-1,
.login-signup-swiper app-login-signup-template-2,
.login-signup-swiper app-login-signup-template-3,
.login-signup-swiper app-login-signup-template-tinder-4,
.login-signup-swiper app-login-signup-template-boo-5,
.login-signup-swiper app-login-signup-template-telegram-6,
.login-signup-swiper app-login-signup-template-facebook-7,
.login-signup-swiper app-login-signup-template-instagram-8,
.login-signup-swiper app-login-signup-template-pro-9,
.login-signup-swiper app-login-signup-template-pro-10 {
  width: 100%;
}
