<swiper-container
  class="login-signup-swiper"
  slides-per-view="1"
  space-between="16"
  pagination="true"
  navigation="true"
>
  <swiper-slide>
    <app-login-signup-template-1></app-login-signup-template-1>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-2></app-login-signup-template-2>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-3></app-login-signup-template-3>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-tinder-4></app-login-signup-template-tinder-4>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-boo-5></app-login-signup-template-boo-5>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-telegram-6></app-login-signup-template-telegram-6>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-facebook-7></app-login-signup-template-facebook-7>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-instagram-8></app-login-signup-template-instagram-8>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-pro-9></app-login-signup-template-pro-9>
  </swiper-slide>
  <swiper-slide>
    <app-login-signup-template-pro-10></app-login-signup-template-pro-10>
  </swiper-slide>
</swiper-container>
