.zero-h {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.animate-expand {
  max-height: 600px;
  transition: max-height 0.25s ease-in;
}
.menu-label {
  align-items: center;
  display: flex;
  ion-icon {
    padding-left: 10px;
  }
}
.left-menu {
  .disabled {
    ion-icon {
      color: var(--ion-color-medium);
    }
    ion-label {
      color: var(--ion-color-medium);
    }
  }
  ion-icon {
    color: var(--ion-color-dark);
  }
  .logo-header {
    background: linear-gradient(45deg, #a6a6a6, rgba(72, 91, 91, 0.72));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 15px 15px;

    .logo {
      width: 90%;
      img {
        border-radius: 50%;
      }
    }
    .title {
      color: white;
      font-weight: bold;
      font-size: 28px;
    }
    .subtitle {
      color: white;
      font-size: 12.5px;
    }
  }

  ion-content {
    --background: var(--ion-color-light);
  }
  ion-list {
    background: var(--ion-color-light);
  }


  ion-header {
    --background: linear-gradient(to right, #008ff5 14%, #57b1f1 96%);
  }
  ion-toolbar {
    --background: linear-gradient(to right, #008ff5 14%, #57b1f1 96%);
  }
  ion-title {
    color: white;
  }
  .list-padd {
    padding-top: 8px;
  }
}



// OVERLAY -- Sidemenu Layout 5 styling START

@media screen and (max-width: 767px) {
  .sidemenu-5 {
    --width: 82vw;
    --max-width: 82vw;
  }
}

.sidemenu-5 {
  .content {
    height: 100%;
    width: 100%;
    background-image: url("../assets/sidemenu.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
  }
  .content-on-top {
    height: 100vh;
    width: 82vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    ion-list {
      padding-left: 50px;
      background: transparent;
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 0;
      ion-icon {
        color: var(--ion-color-light);
        &.active {
        }
      }
      ion-label {
        padding-left: 20px;
        letter-spacing: 2px;
        color: var(--ion-color-light);
        &.active {
          font-weight: bold;
        }
      }
      ion-item {
        background: transparent;
        --background: transparent;
      }
    }

  }
}
@media (prefers-color-scheme: dark) {
  .sidemenu-5 .content-on-top {
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
  }
}
@media screen and (min-width: 768px) {
  .content-on-top {
    width: 100% !important;
  }
}

// CIRCULAR --Sidemenu Layout 6 styling START

@media screen and (max-width: 767px) {
  .sidemenu-6 {
    --width: 100vw;
    --max-width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .sidemenu-6 {
    --width: 35vw;
    --max-width: 35vw;
  }
}

.sidemenu-6 {
  .content {
    width: 100%;
    height: 100%;
  }
}
