<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Stripe Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Stripe Sample PaymentSheet & PWA</ion-card-title>
    </ion-card-header>
    <ion-card-content class="stripeBtn">
          <ion-label class="ion-text-center">
        <h3>Stripe payment for native</h3>
      </ion-label>
        <ion-button  expand="full" class="ion-text-center" slot="center" color="success" (click)="createPaymentSheet()">Proceed</ion-button> 
    </ion-card-content>
  </ion-card>
  <ion-item class="cordova-info">
    <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
    <ion-label>
      <ion-text>
        <p>After receiving the token, the payment request is made from server.
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
